/* Background Color (Almost White):
#f8f8f8

Primary Color (Main Brand Color):
#e4d3ec

Text Color:
Dark Text on Light Background: #333333

Secondary Text (Light Text on Dark Background):
#666666

Link Color (Contrasting Color):
#5e44ad

Accent Color (for Buttons, Hover Effects, etc.):
#ff6f61 */

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333333;
}

h1 {
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    text-align: center;

}

h2 {
    font-family: 'Chango', sans-serif;
    text-transform: uppercase;
    color: #5e44ad;

}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    color: #333333;


}


.container {
    padding: 2rem;
}

/* Style for the product (grid) */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Style for products */
.product {
    border: 10px solid #e4d3ec;
    border-radius: 8%;
    box-shadow: 10px 10px 10px rgba(144, 106, 161, 0.7);
    padding: 5px;
    text-align: center;
    background: #e4d3ec;
    cursor: pointer;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.7);
    border-radius: 4%;
}